# Note: Relative path will resolve to the same folder as cronjob.py as root

DBPATH = './data/metadata.db'
TARGET = '~/db_backup'

MYSQL_HOSTNAME = 'localhost'
MYSQL_PORT = '3306'
MYSQL_USERNAME = 'username'
MYSQL_PASSWORD = 'password'
